.container {
    width: 20vw;
    height: 40vh;
    border-radius: 1vw;
    border: solid;
}

.container img {
    width: 100%;
    height: 60%;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
}