#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height: 100%;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.5%;
    font-size: 1vw;
    font-weight: 500;
    color: white;
}

#head button{
    height: 100%;
    font-size: 1vw;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#filters {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 92%;
}

#filters select{
    background-color: rgb(18, 18, 18);
    outline: none;
    border: none;
    border-top: solid 1px;
    color: rgb(153, 153, 153);
    font-size: 1vw;
    width: 100%;
    height: 9vh;
    padding: 1vh;
}

#filters select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../../../img/nav-arrow-down.svg");
    background-size: 1vw;
    background-position: right center;
    background-repeat: no-repeat;
}

#filters select:hover{
    color: white;
    border: solid 1px;
}

#tags {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: solid 1px;
    color: rgb(153, 153, 153);
    font-size: 1vw;
    width: 100%;
    height: 9vh;
    padding-top: 2vh;
}

#tags label {
    text-indent: 0.5vw;
}

#submit {
    margin-top: 2.5vh;
}

#submit input {
    border-radius: 0.2vw;
    border: none;
    width: 9vw;
    height: 2vh;
    font-size: 0.8vw;
}

#submit button {
    width: 4vw;
    height: 3vh;
    margin-left: 1vw;
    background-color: rgb(153, 153, 153);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1vw;
}
