.container {
    display: flex;
    width: 100%;
    height: 7.5vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(42, 42, 42);
    color: rgb(153, 153, 153);
}

.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    height: 100%;
    font-size: 2.2vh;
    font-weight: 550;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}

.buttons h1 {
    font-size: 2vw;
}

.buttons span {
    background-color: rgb(153, 153, 153);
    color: rgb(18, 18, 18);
    border-radius: .5vw;
    padding: 0 .2vw;
}

.buttons ul {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
}

.buttons li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    padding: 0 0.7vw;
}

.buttons li:hover {
    color: white;
    border-bottom: solid rgb(30, 144, 255) 0.5vh;
}

.active {
    border-bottom: solid rgb(30, 144, 255) 0.5vh;
}


.searchBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    height: 100%;
}

.searchBar input {
    font-size: auto;
    padding: 0;
    width: 15vw;
    height: 4.8vh;
    outline: none;
    border: none;
    background-color: rgb(18, 18, 18);
    color: rgb(153, 153, 153);
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vw;
    height: 4.8vh;
    background-color: rgb(18, 18, 18);
    border: none;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    outline: none;
}

#remove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 4.8vh;
    background-color: rgb(18, 18, 18);
    border: none;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    outline: none;
}